{% extends 'main/index.html'%}
{% load embed_video_tags %}
{% load static %}
{% block title %}
 Our Gate Products
{% endblock %}

{% block content %}
 {% include 'main/messages.html'%}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- Header Start -->
  <div class="jumbotron jumbotron-fluid bg-jumbotron" style="margin-bottom: 0px; background: linear-gradient(rgba(33, 30, 28, 0.7), rgba(33, 40, 28, 0.7)), url({%  static 'assets/img/metal_door.jpg' %}), no-repeat center center;background-size: cover;">
        <div class="container text-center py-5">
            <h3 class="text-white display-3 mb-4">Our Gate</h3>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-link" href="{% url 'home' %}">Home</a></p>
                <i class="far fa-circle px-3"></i>
                <a href="{% url 'contact_open' %}"><p class="m-0">Contact</p></a>
            </div>
        </div>
    </div>
  </div>

</head>
<div class="container-fluid">
 <section id="mu-gallery">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-gallery-area">
          <!-- start title -->
          <div class="mu-title">
            <h2>Our Gate products</h2>
            <p>Our modern metal gates are strong, firm and secure main and fence gates. They are the best option for your home, office or any other project you may have. We make quality fabricated metal gates that provide extra security for your premises.

Our gates are beautifully designed with the customer in mind. They are durable and require minimal upkeep. Our metal gates are available in a variety of shapes, styles, and sizes. This gives you the freedom to choose a style that fits your decorating and security needs

We make each feature of your gate to exceed your expectations and serve you effectively. We also customise the gate as per your needs. Our range of gates includes but is not limited to commercial, residential, estate entrances, dumpster gates and enclosures, farms, construction, and industrial applications.

We use industry-specific materials for all of our fabrications. We also provide an array of services necessary to meet your gate needs.</p>
          </div>
          <!-- end title -->
          <!-- start gallery content -->
          <div class="mu-gallery-content">
            <!-- Start gallery menu -->
            <div class="mu-gallery-top">              
              <ul>
                <li class="filter active" data-filter="all">All</li>
                <li class="filter" data-filter=".lab">Houses</li>
                <li class="filter" data-filter=".classroom">School</li>
                <li class="filter" data-filter=".cafe">Mansions</li>
                <li class="filter" data-filter=".others">Others</li>
              </ul>
            </div>
            <!-- End gallery menu -->
             <div class="mu-gallery-body">
              <ul id="mixit-container" class="row">
                {% for door in about %}
                <!-- start single gallery image -->
               <li class="col-md-4 col-sm-6 col-xs-12 mix library">
                  <div class="mu-single-gallery">                  
                    <div class="mu-single-gallery-item">
                      <div class="mu-single-gallery-img">
                        <a href="#"><img alt="img" src="{{ door.image.url }}"></a>
                      </div>
                       <div class="mu-single-gallery-info">
                        <div class="mu-single-gallery-info-inner">
                          <h4>Ndonga and Sons Doors</h4>
                          <p>the best</p>
                          <a href="{{ door.image.url }}" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                          <a href="{% url 'send_quotation2' door.id %}" class="aa-link"><span class="fa fa-link"></span></a>
                        </div>
                      </div> 
                    </div>
                  </div>
               </li>
               {% endfor %}
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End gallery  -->
 
  
</div>
{% endblock %}