{% extends 'main/index.html'%}
{% load embed_video_tags %}
{% load static %}
{% block title %}
 About us
{% endblock %}
<link href="{% static 'assets/css/home.css' %}" rel="stylesheet">
{% block content %}
    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid bg-jumbotron" style="margin-bottom: 0px; background: linear-gradient(rgba(33, 30, 28, 0.7), rgba(33, 40, 28, 0.7)), url({%  static 'assets/img/man-welding-with-sparks-flying-TETF00895.jpg' %}), no-repeat center center;background-size: cover;">
        <div class="container text-center py-5">
            <h3 class="text-white display-3 mb-4">About</h3>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-link" href="{% url 'home' %}">Home</a></p>
                <i class="far fa-circle px-3"></i>
                <a href=""><p class="m-0">Services</p></a>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'assets/img/cutting.jpg' %}" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Ndonga and Son Enterprises</h5>
                        <h1>We are the best welding and fabrication experts you are looking for</h1>
                    </div>
                    <p>Ndonga and Son Enterprises is one of the most diversified welding and fabrication enterprise in the Kenya. We are dedicated to the production of high quality custom metal fabrication with on-time delivery that meets or exceeds our customer’s satisfaction.
                    From small repairs to large fabrication projects, our passion for welding and fabrication alongside years of experience makes Ndonga and Son Enterprises the perfect fit for your projects.</p>
                </div>
            </div>
        </div>
    </div>
     {% include 'about/about.html'%}

{% endblock %}