{% extends 'main/index.html'%}
{%load static%}
{%block title%}
Contact Ndonga And Son Enterprises
{%endblock%}
<link href="{% static 'assets/css/home.css' %}" rel="stylesheet">
{%block content%}
{% include 'main/messages.html'%}
<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <h3>Contact <span>Us</span></h3>
          <p>Contact us for any enquiries about our products and services.</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8131308136135!2d36.87267677364707!3d-1.2861575356232107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f13fbec94c275%3A0x162dba7c4f4a2f57!2sBuruburu%20Girls%20High%20School!5e0!3m2!1sen!2ske!4v1706022354886!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Buruburu phase 3,near Buruburu Girls, Nairobi, Kenya</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p><a href="mailto:ndongaenterprises@yahoo.com">ndongaenterprises@yahoo.com</a></p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>  +254759100432 0R +254703721559</p>
              </div>

              <div class="whatsapp">
                <a href="https://api.whatsapp.com/send?phone=%2B254759100432&data=ARDXOLbid4NcxK1TYTFwg_nvTD1oSMHyuiEk-49USVHEE5fBJyaUi8YSCpOeqwX_IH_EYUN6qMQh4avm_7DgiHoEsTBH1Exkj6_hAv4uOYJ7biuyihJ4GllLISskxw1yeLVH3CHWplyFgy9OQIqjq-CdQQ&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwAR1vQBIeLcqX_JDC8IZF5j3Ix_Db4cj_G_K6jUyZrfo2E3LJXsv8pPRu2G4"><i class="bi bi-whatsapp"></i></a>
                 <h4>whatsapp us</h4>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="" method="post"  role="form" class="php-email-form" >
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->


{% endblock %}